#container {
    background-color: grey;
    border-radius: 10px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 500px;
    margin: 0 auto;
    clear: both;
    padding-top: 10%;
}

#numField {
    background-color: bisque;
    width: 80%;
    min-height: 100px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 10px;
    font-size: x-small;
    display: inline-block;
}

#btnBox {
    
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 300px;
    padding-left: 45px;
}

h1 {
    margin: 5px;
}
    
.btn {
    width: 17.5%;
    height: 17.5%;
    margin: 10px;
    border-radius: 33%;
}
